CONFIG_ARM=y
CONFIG_ARCH_CPU_INIT=y
CONFIG_CPU_ARM920T=y
CONFIG_S3C24X0=y
CONFIG_S3C2440=y
CONFIG_S3C2440_GPIO=n
CONFIG_SYS_TEXT_BASE=0x000
CONFIG_TARGET_MINI2440=y
CONFIG_ENV_SIZE=0x10000
CONFIG_ENV_OFFSET=0x3FC000
CONFIG_ENV_SECT_SIZE=0x4000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SPL=n
CONFIG_SPL_BUILD=n
CONFIG_IDENT_STRING="for MINI2440"
CONFIG_SPL_TEXT_BASE=0x02023400
CONFIG_SILENT_CONSOLE=y
CONFIG_CONSOLE_MUX=y
CONFIG_SYS_PROMPT="MINI2440 # "
CONFIG_ERRNO_STR=y
CONFIG_DEFAULT_DEVICE_TREE="s3c2440"
CONFIG_OF_BOARD_SETUP=n
CONFIG_OF_CONTROL=y
